body {
    margin: auto;
    padding-top: 10rem;
}
#map {
    height: 70vh;
    width : 80%;
    margin: auto;
}

#middle_content{
    display:flex;
    padding: 10px;
    align-content: center;
}

.inf-progress-bar {
    width: 100%;
    background-color: #f0f0f0;
    height: 30px;
    margin: 10px;
    padding: 0;
    align-content: center;
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    border: 10px black;
    position:relative;
}

.inf-progress {
    width: 50%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
    position:relative;
}

.inf-progress-bar center {
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
    bottom: 5px;
    margin: auto;
}

p {
    width:100%;
    padding: 2px;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.dis-progress-bar{
    width: 50%;
    background-color: #f0f0f0;
    height: 30px;
    margin: 10px;
    padding: 0;
    display: flex;
    align-content: center;
    margin-left: 80px;
    position:relative;

}

.dis-progress {
    width: 50%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
    position:relative;

}

.dis-progress-bar center {
  position:absolute;
  left:0;
  right:0;
  top:5px;
  bottom:5px;
  margin:auto;
}

.cure-progress-bar {
    width: 50%;
    background-color: #f0f0f0;
    height: 30px;
    margin: 10px;
    padding: 0;
    display: flex;
    align-content: center;
    margin-right: 80px;
    position:relative;

}

.cure-progress-bar center {
  position:absolute;
  left:0;
  right:0;
  top:5px;
  bottom:5px;
  margin:auto;
}

.cure-progress {
    width: 50%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
    position:relative;
}

#dis_cure{
    display: flex;
}